body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;

  color: #555;
  font-size: 100%;
  font-family: 'Raleway', 'Nanum Gothic', sans-serif;
  
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.header h2 {
  color: #aaa;
}

a {
  color: #3b72ba;
  text-decoration: none;
}

#mask {  
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* auto-hide address bar */
  z-index: 97; /* menu and button are 1000 */ 
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#mask.active {
  display: block;
}

#main a {
  position: relative;
}

#main article a:before,
#main .post-meta a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #666;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

#main article a:hover:before,
#main .post-meta a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.small-print {
  font-size: 0.75em;
  margin: 0.6em;
  color: #808080;
}

.post-meta {
  font-size: 0.9em;
}

.content blockquote {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1em;
  border-left: 0.2em solid #cccccc;
  color: #999;
}

.content img {
  max-width: 100%;
}

code,
.highlight,
.highlight > pre {
  font-family: 'Roboto Mono', 'Nanum Gothic Coding', monospace;
  font-size: 0.9em;
}

.highlight > pre {
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

p > code {
  display: inline-block;
  white-space: no-wrap;
  line-height: 1.5em;
  border: 1px solid #ddd;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
  margin: -1px 0;
}

article > footer {
  text-align: right;
}

figure {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
}

figcaption > h4,
figcaption > p {
  line-height: 1.3em;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
}

figcaption > p {
  color: #aaa;
  font-size: 0.9em;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}


#menuBg {
  /* prevent empty background while scrolling*/
  margin-left: -150px; /* "#menu" width */
  width: 150px;    
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98; /* so the menu or its navicon stays above all content */
  background: #001520;
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

#menuBg.active {
  margin-left: 0;
}

@media (min-width: 48em) {
  #menuBg {
      left: 150px;
  }
}

#menu {
  background: #001520;
}

#menu a {
  padding: 0.6em 0.6em 0.6em 0.6em;
}

#menu .brand {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  text-align: center;
}

#menu-section {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
  box-sizing: border-box;
}

#menu-section header {
  padding: 0.5em;
}

#menu-section footer {
  position: absolute;
  bottom: 0;
  padding-top: 0.5em;
}

.menu-link,
.menu-link:focus,
.menu-link:hover {
  background: rgba(0, 21, 32, 0.3);
}

@media (hover: hover) {
  .menu-link:hover {
    background: rgba(0, 21, 32, 1);
  }
}

.menu-link.active {
  background: rgba(0, 21, 32, 1);
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  color: #aaa;
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}
